@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/app/chat.js"></script>
<style>
    td {
        padding-right: 5px;
        margin-right: 5px;
    }

    div {
        word-wrap: break-word !important;
        word-break: break-word !important;
    }

    table {
        table-layout: fixed;
        word-wrap: break-word;
    }

    textarea {
        max-width: 100% !important;
    }

    .progress-bar {
        width: 100%;
    }

    #chatDiv {
        max-height: 600px;
        height: 85%;
        overflow-y: scroll !important;
        overflow-wrap: break-word !important;
        width: 95%;
    }

    #chatTable {
        table-layout: fixed;
        word-wrap: break-word !important;
    }
</style>
<h2>Hamza Talk</h2>
<div class="form-horizontal">
    <div class="row">
        <div class="alert alert-warning">HamzaTalk'a hoşgeldiniz..</div>
    </div>
    <div id="chatDiv" class="well well-sm">
        <table id="chatTable" class="table table-hover table-condensed table-responsive table-hover" data-bind="foreach: messages">
            <tr>
                <td>
                    <span class="alert-danger" data-bind="visible:showName, text: messagePrefix"></span>
                </td>
                <td>
                    <span class="alert-info" data-bind="text: messageBody"></span>
                </td>
            </tr>
        </table>
    </div>
    <small data-bind="visible: typing, text: typer"></small>
    <div class="form-group" data-bind="submit: sendMessage">
        <div class="col-lg-10">
            <textarea class="form-control" cols="10" data-bind="value: addMessageBody, valueUpdate: 'afterkeydown', returnAction: sendMessage, event:{ 'keyup': onTyping } " maxlength="250" wrap="hard"></textarea>
        </div>
        <div class="col-lg-1">
            <input type="submit" class="btn btn-primary" value="Send" disabled="disabled" data-bind="enable: addMessageBody().length > 0, click: sendMessage" />
        </div><!-- /.col-lg-6 -->
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="45">
                    </div>
                </div>
                <div class="alert alert-info">Connecting...</div>
            </div>
        </div>
    </div>
</div>
