@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Retro Mension<br />
    Bostanlı<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">hamza@mension.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">alijii@mension.com</a>
</address>