@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HAMZA TALK</h1>
    <p class="lead">Hamzalar için özel chat servisleri sunar.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Hamzad</h2>
        <p>
            Hamzalar konuşuyor falan filan burda böle değişik konular.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more Hamzas</h2>
        <p>Hamzalar genelde mension civarlarında bulunmakla birlikte sayıları artma eğilimi göstermemektedir..</p>
    </div>
    <div class="col-md-4">
        <h2>Hamza Hosting</h2>
        <p>Bostanlı'da bir mension kurarak 6-7 civarında hamzayı rahatlıkla barındırabilirsiniz..</p>
    </div>
</div>